
body {
	font-family: "crimson Text";
}

#alternatives button {
	width: 300px;
	display: block;
	margin: auto;
	padding: 5px;
	margin-bottom: 5px;
}

#select {
	text-align: center;
	border-radius: 20px;
	padding: 20px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: rgb(110, 147, 99);
}

#mainDiv {

	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	max-width: 95%;
	padding-top: 2px;
	padding: 20px;
	text-align: center;
	background-color: rgb(110, 147, 99);
}

#bigDiv {
	background-color: rgb(147, 168, 141);
	border-radius: 20px;
	padding: 20px;
	padding-top: 1px;
	max-width: 96%;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#div1 {
	border-radius: 20px;
	background-color: rgb(181, 194, 177);
	max-width: 900px;
	padding: 20px;
	padding-top: 2px;
	margin: auto;
	/*margin-top: 50px;*/
}

#questionDiv {
	/*//border: 5px solid rgb(55, 74, 50);*/
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	max-width: 80%;
	padding: 5px;
	text-align: center;
	background-color: rgb(181, 194, 177);
}

.selects {
	/*display: block;*/
	font-size: 35px;
	margin: 20px;*/
	border: 2px solid grey;
	border-radius: 5px;
	/*max-width: auto;
	text-align: center;*/*/
}

#questionHeader {
	font-size: 35px;
	/*border-radius: 10px;
	border: 2px dotted black;*/
	/*margin-left: 20%;
	margin-right: 20%;*/
	padding-bottom: 5px;
	padding-top: 4px;
	text-align: center;
}

p {
	font-size: 25px;
	/*border: 2px dotted black;
	border-radius: 10px;*/
	padding: 15px;
	margin-bottom: 3px;
	margin-top: 0;
	text-align: center;
}

select {
	/*border: 2px solid grey;*/
	border-radius: 5px;
	padding: 5px;
	min-width: 80px;
	width: 100px;
	/*background-color: rgb(181, 194, 177);*/
}

label {
	/*border: 2px solid blue;*/
	display: block;
}

button {

	margin-top: 20px;
	/*border: 2px solid grey;*/
	border-radius: 10px;
	background: white;
	padding: 10px;
	margin-bottom: 15px;
	min-width: 80px;
	max-width: 90%
	/*background-color: rgb(181, 194, 177);*/
}

#resultHeader {
	background-color: rgb(181, 194, 177);
	border-radius: 10px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding: 4px;
}


hr {
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	padding: 0;
	max-width: 500px;
}

table {
	/*border: 2px solid black;*/
	border-radius: 5px;
	background-color: rgb(181, 194, 177);
	text-align: left;
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*position: absolute;*/
}

tr {
	border: 2px dotted black;
	text-align: left;
}

th{
	/*border: 2px solid black;*/
	border: 2px dotted black;
	text-align: center;
	width: 100%;
	min-width: 90px;

	/*background-color: rgb(181, 194, 177);*/
}

td {

	padding-left: 5;
	border: 2px dotted black;

	margin: 0;

}

/*#table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}*/

#tableDiv{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*position: relative;*/

}

#resultP {
	display: block;
}


progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 40px;
  width: 300px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
  /*margin: 50px;*/
}
progress::-webkit-progress-bar {
  background: rgb(181, 194, 177);
  /*box-shadow: inset 0px 0px 10px 5px #aaa;*/
  border-radius: 10px;

}
progress::-webkit-progress-value {
  /*background-image: repeating-linear-gradient(45deg, #FF94AA, #FF94AA 8px, #FF7799 8px, #FF7799 16px);*/
  background-color: rgb(147, 168, 141);
  /*border-radius: 10px;
  border-radius-right: 0; */
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
/*progress::before {
  content: attr(value);
  /*position: relative;*/
  /*left: 70%;*/
  /*display: block;*/
  /*font: caption;*/
}*/